body {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.028124999999999956) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#todo-container {
  background: rgb(41, 33, 33);
  width: 400px;
  margin: 0 auto;
  border: 2px solid #0033ff;
  padding: 20px;
  color: white;
  border-radius: 15px;
}

#header {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

#input-box {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#input-button {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2e60ea;
}

#input-button:hover {
  background-color: #9eb7fd;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
  overflow-y: auto;
}

li {
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form {
  display: flex;
  flex-flow: column;
}
input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #ccc;
  margin:  5px;
}

select {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #ccc;
    margin:  5px;

  }
.delete-button {
  background-color:white;
  color: red;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.update-button {
  background-color: white;
  color: green;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.delete-button:hover {
  background-color: #731b14;
}
.update-button:hover {
    background-color: #731b14;
  }
button {
  cursor: pointer;
  margin: 3px 5px;
}
